body {
  background-color: lightgray;
  margin: auto 2%;
}

h1 {
  color: #99ffcc;
  font-size: 50px;
}

button {
  margin: 25%;
}

.triviaStart{
  margin: 10%;
  /*border: 2px solid red;*/
}

.triviaEnd{

  margin: 10%;
  /*border: 2px solid blue;*/
}

#pics{
  margin-left: 30%;
  margin-right: 30%;

  /*border: 2px solid green;*/
}

#innerFront {
  margin-top: 0;
  height: 100px;
  text-align: center;
}
