body {
  background-color: lightgray;
  margin: auto 2%;
}

h1 {
  color: #99ffcc;
  font-size: 50px;
}

button {
  margin: 25%;
}

.triviaStart{

  margin: 10%;
  visibility: hidden;
}

.triviaEnd{

  margin: 10%;
  visibility: hidden;
}

#pics{

  margin: 10%;
  width: 400px;
  height: 300px;

}

#innerFront {
  margin-top: 0;
  height: 100px;
  text-align: center;
}
