body {
  background-image: url("../images/foodbackground.jpg");
  background-color: lightgray;
  margin: auto 2%;

}

h1 {
  color: #99ffcc;
  font-size: 50px;

}

h4 {
  font-size: 20px;
  font-weight: bold;
  color: #99ffcc;
}

span {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

/*#innerfront {
  border: 5px solid red;
  height: 300px;
}*/

.start {
  border: 2px solid blue;
  background-color: lightgray;
  text-align: center;
  width: 300px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 60%;
}

.coloredh1 {
  color: black;
}

/*.row {
  border: solid 2px red;
}*/
